{% extends "Index.html" %}
{% load static %}



{% block main_content %}

											<h1><strong><u>Если :</u></strong></h1>
											<ul>
												<li> - У вас плохое самочувствие;</li>
												<li> - Вы испытываете ежедневные стрессы, и большие нагрузки;</li>
												<li> - У Вас сидячий образ жизни и постоянное напряжение;</li>
												<li> - Вы чувствуете невозможность расслабить мышцы и отсутствие <br>
													гибкости шеи, рук и ног;</li>
												<li> - Вас беспокоит целлюлит, лишний вес или отеки;</li>
												<li> - Вы не можете разгрузить свою голову;</li>
												<li> - У Вас ограниченное количество времени для ускоренного <br>
													приведения себя в порядок;</li>
											</ul>
											<h1>Вы попали на нужный сайт!</h1>

{% endblock %}
