{% extends "Index.html" %}
{% load static %}

{% block main_content %}
    <p style="text-align: justify; text-indent: 40px; font-size: 27px;padding: 0px 35px 0px 35px">
        <u>   Массаж:</u><br>
это физиотерапевтическая процедура, которая заключается в механическом
 воздействии на организм через кожу. В массаж входят основные приемы, 
такие как поглаживание, растирание, разминание, вибрация и похлопывание. 
Такое воздействие на мышцы раздражает нервные окончания, которые, в 
свою очередь, посылают импульсы в мозг.Действие массажа на организм 
переоценить сложно. Его основы пришли к нам из глубокой древности. 
Постепенно развиваясь и дополняясь все новыми данными, массажные 
техники были отточены до совершенства, что сказалось на степени его 
терапевтического эффекта. 
     В первую очередь массаж назначается, при проблемах с опорно-
двигательной системой, так как при механическом воздействии основная 
нагрузка идет на мышцы и позвоночник. После проведения курса массажа 
уходят боли в проблемной области, мышцы становятся более эластичными, 
возвращается гибкость и подвижность.
     Но массаж влияет не только на мускульную систему. Получаемый рефлекторный 
	 ответ влияет и на работу внутренних органов, улучшая их работу.
								</p>
{% endblock %}