{% extends "Index.html" %}
{% load static %}

{% block main_content %}
    <p style="text-align: justify; font-size: 28px;padding: 0px 35px 0px 35px">
        <u><h2 style="text-indent: 120px;">СПА процедуры:</h2></u>
        <UL>
            <li><blockquote> - Природа давно раскрыла человеку свои лучшие рецепты оздоровления,
                помогающие сохранить здоровье тела и хорошее настроение. Я,обладая этими
                рецептами, предлагаю только лучшие СПА-процедуры после которых Вы
                почувствуете себя полностью обновленными и отдохнувшими.</blockquote>
            </li>
            <li> <blockquote> - SPA расшифровывается как «sanus per aquam», что в переводе на русский
                язык означает «здоровье от воды». Древние римляне давно заметили лечебные
                свойства воды, поэтому избавлялись от всех болезней купанием в термальных
                источниках.</blockquote>
            </li>
            <li> <blockquote> - Комплексная процедура для тела и лица, способствующая глубокому
                очищению, питанию и омоложению кожи. Ее расслабляющий эффект в
                сочетании с арома-терапией дарит непередаваемое блаженство.</blockquote>
            </li>
        </UL>
    </p>
{% endblock %}